html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --orange1: #fd990d;
  --orange2: #facd63;
  --ltpurp: #a78eb8;
  --darkpurp: #644b77;
  --darkest: #2e2e2e;
}

body {
  font-family: 'Griffy', cursive;
  color:var(--orange2);
}

header {
  text-align: center;
}

h1 {
  font-family: 'Griffy', cursive;
  color:var(--orange2);
  font-weight: 300;
  font-size: 4em;
  display: block;
}

h2 {
  font-family: 'Griffy', cursive;
  color:var(--orange2);
  font-weight: 200;
  font-size: 2em;
  display: block;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: repeating-linear-gradient(
  to right,
  var(--darkpurp),
  var(--darkpurp) 50px,
  var(--darkest) 50px,
  var(--darkest) 70px
);
}

/*
 * Styles for the deck of cards
 */

.deck {
  width: 660px;
  min-height: 680px;
  background: linear-gradient(160deg, var(--orange1) 0%, var(--ltpurp) 75%);
  padding: 32px;
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 3em;
}

.deck .card {
  height: 125px;
  width: 125px;
  background: #2e3d49;
  font-size: 0;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
  transform: rotateY(0);
  background: var(--darkest);
  cursor: default;
}

.deck .card.show {
  font-size: 33px;
}

.deck .card.match {
  cursor: default;
  background: var(--darkpurp);
  font-size: 33px;
}
.fas {
  color:#facd63
}

/*
 * Styles for the Score Panel
 */

.score-panel {
  text-align: left;
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin-bottom: 10px;
  font-family: 'Griffy', cursive;
  color:#facd63;
  font-weight: 300;
  font-size: 2em;
}

.score-panel .stars {
  padding: 0;
  display: flex;
  margin: 0 5px 0 0;
}

.score-panel .stars li {
  list-style: none;
  display: inline-block;
}

.score-panel .restart {
  display: flex;
  cursor: pointer;
}
.modal {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  bottom: 0;
  right: 0;
  position: fixed;
  display: none;
}
.modal_pop {
  display: none;
  padding: 5px;
  position: fixed;
  margin-left: 42%;
  margin-top: 15%;
  width: 300px;
  height: 300px;
  background-color: rgb(255, 255, 255);
}
.visible {
  display: inline-block;
}